/** @format */

@import '/src/scss/variables';

// .user__root

.root {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  a,
  a:visited {
    display: inline-block;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}

// .user__body

.body {
  display: flex;
  align-items: center;
}

// .user__image

.image {
  margin-right: 23px;
  img {
    width: 40px;
    height: 40px;
  }
}

// .user__items

.items {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

// .user__fullName

.fullName {
  font-size: 14px;
  line-height: 1.57;
  a,
  a:visited {
    font-weight: 500;
    color: $mainDarkBlueColor;
  }
}

// .user__position

.position {
  font-size: 14px;
  line-height: 1.57;
  a,
  a:visited {
    font-weight: 400;
    color: $mainLightGreyColor;
  }
}

// .user__rating

.rating {
  display: inline-flex;
  align-items: center;
  span {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: $mainDarkGreyColor;
  }
}

// .user__svg

.svg {
  margin-right: 18px;
}
