/** @format */

@import '../../../scss/variables';

.root {
  position: relative;
  margin-bottom: 120px;
  &::after {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    right: -94px;
    top: 612px;
    z-index: -1;
    background: #ff9882;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
  }
  &::before {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    right: -153px;
    top: 734px;
    background: #fffa82;
    opacity: 0.3;
    z-index: -1;
    filter: blur(60px);
    transform: rotate(90deg);
  }
}
.body {
  overflow: hidden;
}
// .featured__container

.container {
  max-width: 1200px;
  margin: 0 auto;
}

// .featured__inner

.inner {
  margin-left: 40px;
}

// .featured__heading

.heading {
  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid $mainYellowColor;
    width: 32px;
    top: 50%;
    left: -40px;
    transform: translate(0px, -50%);
  }
}
