/** @format */

@import '../../../scss/variables';

.root {
  position: relative;
  margin-bottom: 120px;
  &::after {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    right: -108px;
    top: 622px;
    z-index: -2;
    background: #ff9882;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
  }
  &::before {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    right: -125px;
    top: 710px;
    background: #fffa82;
    opacity: 0.3;
    z-index: -1;
    filter: blur(60px);
    transform: rotate(90deg);
  }
  @media (max-width: 1099.98px) {
    margin-bottom: 60px;
  }
}
.body {
  overflow: hidden;
}
// .featured__container

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 1199.98px) {
    padding: 0 10px;
  }
}

// .featured__inner

.inner {
  @media (min-width: 991.98px) {
    margin-left: 40px;
  }
}

// .featured__heading

.heading {
  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid $mainYellowColor;
    width: 32px;
    top: 50%;
    left: -40px;
    transform: translate(0px, -50%);
  }
  @media (max-width: 991.98px) {
    margin-left: 40px;
    margin-bottom: 12px;
  }
}
