/** @format */

@import '../../../../scss/variables';

.root {
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inner {
  flex: 0 1 40.34%;
  height: 459px;
}
.body {
}
.info {
  color: $mainYellowColor;
  line-height: 1.286;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 12px;
  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid $mainYellowColor;
    width: 32px;
    top: 50%;
    left: -40px;
    transform: translate(0px, -50%);
  }
}
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.5;
  color: $mainDarkColor;
}
.text {
  font-size: 16px;
  line-height: 1.75;
  opacity: 0.75;
  margin-bottom: 16px;
}
.images {
  flex: 0 1 45.5%;
  position: relative;
  height: 459px;
}
.image {
  position: absolute;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &_1 {
    right: 0px;
    top: 0px;
  }
  &_2 {
    left: 0px;
    bottom: 0px;
  }
  &_3 {
    right: 124px;
    bottom: 0;
  }
  &_4 {
    right: 20px;
    bottom: 0px;
  }
}
