/** @format */

@import '/src/scss/variables';

// .subscribe__root

.root {
}

// .subscribe__container

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: url('../../../../public/img/info/bginfo.svg') 100% 0 no-repeat;
  min-height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  position: relative;
  @media (max-width: 1199.98px) {
    padding: 0 10px;
  }
}
// .subscribe__image

.image {
  img {
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 24px;
    transition: all 0.3s ease 0s;
    @media (max-width: 991.98px) {
      opacity: 0.5;
    }
    @media (max-width: 559.98px) {
      display: none;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  &:active {
    img {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  // .subscribe__image_1

  &_1 {
    img {
      left: 42px;
      top: 36px;
    }
  }

  // .subscribe__image_2

  &_2 {
    img {
      left: 193px;
      bottom: 78px;
    }
  }

  // .subscribe__image_3

  &_3 {
    img {
      right: 198px;
      top: 42px;
    }
  }

  // .subscribe__image_4

  &_4 {
    img {
      right: 71px;
      bottom: 58px;
    }
  }
}

// .subscribe__user

.user {
  img {
    position: absolute;
    border: 2px solid #ffffff;
    border-radius: 24px;
    filter: drop-shadow(0px 9px 32px rgba(89, 92, 219, 0.1));
    width: 40px;
    height: 40px;
    transition: all 0.3s ease 0s;
    @media (max-width: 991.98px) {
      opacity: 0.5;
    }
    @media (max-width: 559.98px) {
      display: none;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
  &:active {
    img {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
  }
  // .subscribe__user_1

  &_1 {
    img {
      left: 65px;
      bottom: 101px;
    }
  }

  // .subscribe__user_2

  &_2 {
    img {
      left: 202px;
      top: 69px;
    }
  }

  // .subscribe__user_3

  &_3 {
    img {
      right: 198px;
      top: 141px;
    }
  }

  // .subscribe__user_4

  &_4 {
    img {
      right: 80px;
      top: 105px;
    }
  }
}

// .subscribe__title

.title {
  max-width: 424px;
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.5;
  z-index: 2;
}

// .subscribe__form

.form {
  display: flex;
  position: relative;
  cursor: pointer;
  input {
    width: 496px;
    font-weight: 500;
    line-height: 1.57;
    color: $mainLightGreyColor;
    padding: 15.5px 129px 15.5px 64px;
    border: 1px solid #e0e3eb;
    border-radius: 32px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    @media (max-width: 559.98px) {
      width: 100%;
      padding: 15.5px 140px 15.5px 64px;
    }
    &:hover {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    }
    &:focus {
      box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    }
  }
  input::placeholder {
    color: $mainLightGreyColor;
    font-size: 14px;
    font-weight: 400;
  }
}

// .subscribe__svg
.svg {
  position: absolute;
  top: 50%;
  left: 26px;
  transform: translate(0px, -50%);
}

// .subscribe__input

.input {
}

// .subscribe__btn

.btn {
  line-height: 1.57;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px 16px;
  position: absolute;
  background: $mainGreenColor;
  border-radius: 32px;
  top: 50%;
  right: 4px;
  transform: translate(0px, -50%);
  transition: all 0.3s ease 0s;
  font-weight: 500;
  color: $mainWhiteColor;
  transition: all 0.3s ease 0s;
  &:hover {
    background: $mainLightGreenColor;
    color: $mainDarkGreenColor;
  }
  &:active {
    -webkit-transform: translate(0px, -48%);
    transform: translate(0px, -48%);
  }
}
