/** @format */

.root {
  flex: 50% 1 1;
  position: relative;
  min-height: 720px;
  // .info__body
}
.body {
}

// .info__cards

.cards {
  position: absolute;
  bottom: 48px;
  left: 48px;
  max-width: 672px;
  margin: 0 auto;
}
