/** @format */

@import 'src/scss/variables';

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info {
  flex: 0 1 40.34%;
  height: 459px;
  margin-left: 40px;
}
.heading {
  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid $mainYellowColor;
    width: 32px;
    top: 50%;
    left: -40px;
    transform: translate(0px, -50%);
  }
}
.title {
  line-height: 1.25;
}
.body {
  max-width: 440px;
}
.text {
  font-size: 16px;
  line-height: 1.75;
  opacity: 0.75;
  margin-bottom: 16px;
}
.images {
  flex: 0 1 45.5%;
  position: relative;
  height: 459px;
}
.image {
  position: absolute;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.6;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &_1 {
    right: 0px;
    top: 0px;
  }
  &_2 {
    left: 0px;
    bottom: 0px;
  }
  &_3 {
    right: 124px;
    bottom: 0;
  }
  &_4 {
    right: 20px;
    bottom: 0px;
  }
}
