/** @format */

@import 'src/scss/variables';

.inner {
  display: flex;
  min-height: 459px;
  @media (min-width: 1099.98px) {
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1099.98px) {
    flex-direction: column-reverse;
  }
}
.info {
  @media (min-width: 1099.98px) {
    flex: 0 1 40.34%;
    margin-left: 40px;
  }
}
.heading {
  margin-bottom: 12px;
  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid $mainYellowColor;
    width: 32px;
    top: 50%;
    left: -40px;
    transform: translate(0px, -50%);
  }
  @media (max-width: 1099.98px) {
    margin-left: 40px;
  }
}
.title {
  line-height: 1.25;
  margin-bottom: 16px;
}
.body {
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  opacity: 0.75;
  margin-bottom: 16px;
  max-width: 413px;
}
.images {
  position: relative;
  min-height: 459px;
  @media (min-width: 1099.98px) {
    flex: 0 1 45.5%;
  }
  @media (max-width: 1099.98px) {
    margin-bottom: 30px;
  }
  @media (max-width: 559.98px) {
    min-height: 302px;
  }
  @media (max-width: 399.98px) {
    min-height: 251px;
  }
}
.image {
  position: absolute;
  transition: all 0.3s ease 0s;
  img {
    border-radius: 4px;
  }
  &:hover {
    opacity: 0.6;
  }
  &:active {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  &_1 {
    right: 0px;
    top: 0px;
  }
  &_2 {
    right: 232px;
    bottom: 0px;
  }
  &_3 {
    right: 124px;
    bottom: 0;
  }
  &_4 {
    right: 20px;
    bottom: 0px;
  }
  @media (max-width: 559.98px) {
    &_1 {
      img {
        max-width: 320px;
      }
    }
    &_2 {
      right: 155px;
      img {
        max-width: 194px;
      }
    }
    &_3 {
      right: 83px;
      img {
        max-width: 63px;
      }
    }
    &_4 {
      right: 13px;
      img {
        max-width: 63px;
      }
    }
  }
  @media (max-width: 399.98px) {
    &_1 {
      img {
        max-width: 266px;
      }
    }
    &_2 {
      right: 128px;
      img {
        max-width: 161.5px;
      }
    }
    &_3 {
      right: 68px;
      img {
        max-width: 52.25px;
      }
    }
    &_4 {
      right: 10px;
      img {
        max-width: 52.25px;
      }
    }
  }
}
