/** @format */

.root {
  position: relative;
  margin-bottom: 120px;
  background: url('../../../../public/img/header/image.jpg') 100% 0 no-repeat;
  &::after {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    left: 74px;
    top: -162px;
    z-index: -1;
    background: #82f7ff;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
  }
  &::before {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    left: -173px;
    top: -77px;
    z-index: -1;
    background: #82ffd2;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
  }
  @media (max-width: 1269.98px) {
    background: url('../../../../public/img/header/image.jpg') 120% 0 no-repeat;
  }
  @media (max-width: 1149.98px) {
    background: url('../../../../public/img/header/image.jpg') 140% 0 no-repeat;
  }
  @media (max-width: 1099.98px) {
    background: none;
    margin-bottom: 60px;
  }
}

// .content__container

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: 1099.98px) {
    display: flex;
  }
  @media (max-width: 1199.98px) {
    padding: 0px 10px;
  }
}
