/** @format */

@import '../../../../scss/variables';

.slider {
  // .featured__body
}
.body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  margin-right: 139px;
}
.right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.prev {
  padding: 12px 16px;
  background: #e0e3eb;
  border-radius: 32px;
  transform: rotate(-180deg);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  path {
    transition: all 0.3s ease 0s;
    fill: #3c4563;
  }
  &:hover {
    background: #10b981;
    path {
      fill: #ffffff;
    }
  }
}
.next {
  padding: 12px 16px;
  background: #e0e3eb;
  border-radius: 32px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  path {
    transition: all 0.3s ease 0s;
    fill: #3c4563;
  }
  &:hover {
    background: #10b981;
    path {
      fill: #ffffff;
    }
  }
}
// .featured__title

.title {
  line-height: 1.5;
}

.swiper {
  overflow: visible;
}
