/** @format */

@import '../../scss/variables';

.root {
  @media (min-width: 1099.98px) {
    position: absolute;
    width: 100%;
    z-index: 50;
    top: 33px;
  }
  @media (max-width: 1199.98px) {
    padding: 0 10px;
  }
  @media (max-width: 1099.98px) {
    background: #93cae2;
  }
  @media (max-width: 767.98px) {
    padding: 10px;
  }
  // .header__container
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

// .header__body

.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1099.98px) {
    min-height: 90px;
  }
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}

// .header__logo

.logo {
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    gap: 14px;
    span {
      font-weight: 700;
      font-size: 16px;
      text-transform: capitalize;
      color: $mainDarkColor;
    }
    &:hover {
      opacity: 0.6;
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}

.menu {
  // .menu__body
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
  }
  &__body {
  }

  // .menu__list

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    a,
    a:visited,
    span {
      font-weight: 400;
      color: $mainLightBlueColor;
      transition: all 0.3s ease 0s;
    }
    @media (min-width: 767.98px) {
      margin-right: 44px;
    }
  }

  // .menu__link

  &__link {
    a {
      display: inline-block;
      padding: 8px 16px;
      line-height: 1.286;
    }
    margin: 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    transition: all 0.3s ease 0s;
    &:hover {
      background: $mainLightGreenColor;
      a,
      a:visited {
        color: $mainDarkGreenColor;
      }
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
    &_arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      span {
        display: block;
        padding: 8px 44px 8px 16px;
        line-height: 1.286;
        cursor: pointer;
      }
      margin: 12px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 32px;
      transition: all 0.3s ease 0s;
      &.open {
        background: $mainLightGreenColor;
        span {
          color: $mainDarkGreenColor;
          transition: all 0.3s ease 0s;
        }
      }
    }
  }

  &__btn {
    padding: 13px 25.5px;
    line-height: 1.57;
    background: $mainGreenColor;
    border-radius: 32px;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    color: $mainLightBlueColor;
    &:hover {
      background: $mainLightGreenColor;
      color: $mainDarkGreenColor;
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}
.submenu {
  // .submenu__list

  &__list {
    position: absolute;
    top: 50px;
    left: 50%;
    background: $mainGreenColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translate(-50%, 0px);
    transition: all 0.3s ease 0s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
    &.open {
      top: 40px;
      opacity: 1;
      visibility: visible;
    }
  }
  &__link {
    padding: 12px;
    cursor: pointer;

    &:hover {
      background: $mainLightGreenColor;
      a,
      a:visited {
        color: $mainDarkGreenColor;
      }
      &:active {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
    }
  }
}

.arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0px, -50%) rotate(90deg);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &_open {
    transform: translate(0px, -50%) rotate(270deg);
    svg {
      path {
        fill: $mainDarkGreenColor;
      }
    }
  }
}
