/** @format */

@import '/src/scss/variables';

// .footer__root

.root {
  padding: 121px 0px 126px 0px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    right: 46px;
    bottom: -149px;
    background: #b9ff82;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
    z-index: -1;
  }
  &::before {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    right: -200px;
    bottom: -84px;
    background: #82bbff;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
    z-index: -1;
  }
  @media (max-width: 1099.98px) {
    padding: 60px 0px 60px 0px;
  }
}

// .footer__containter

.containter {
  max-width: 1200px;
  margin: 0 auto;
  @media (min-width: 767.98px) {
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 1199.98px) {
    padding: 0 10px;
  }
}

// .footer__info

.info {
  flex: 0 0 26.5%;
  @media (max-width: 767.98px) {
    display: flex;
  }
  @media (max-width: 479.98px) {
    flex-direction: column;
  }
}
.body {
  @media (max-width: 767.98px) {
    flex: 0 0 50%;
  }
}
// .footer__logo

.logo {
  margin-bottom: 16px;
  a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    gap: 14px;
    span {
      font-weight: 700;
      font-size: 16px;
      text-transform: capitalize;
      color: $mainDarkColor;
    }
    &:hover {
      opacity: 0.6;
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}

// .footer__text

.text {
  margin-bottom: 23px;
  line-height: 1.71;
  opacity: 0.75;
}

// .footer__social

.social {
  display: flex;
  align-items: center;
  gap: 24px;
  @media (max-width: 767.98px) {
    flex: 0 0 50%;
    justify-content: center;
  }
  @media (max-width: 479.98px) {
    margin-bottom: 20px;
    justify-content: start;
  }
  a,
  a:visited {
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
    }
  }
}

// .footer__columns

.columns {
  @media (min-width: 479.98px) {
    flex: 0 0 51.42%;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: 991.98px) {
    flex: 0 0 64%;
  }
  @media (max-width: 767.98px) {
    justify-content: space-around;
  }
}

// .footer__column

.column {
  @media (max-width: 479.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

// .footer__label

.label {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: $mainDarkBlueColor;
  display: inline-block;
  margin-bottom: 24px;
}

// .footer__list

.list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  li {
    a,
    a:visited {
      line-height: 1.286;
      color: $mainLightGreyColor;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
      &:active {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
      }
    }
    @media (max-width: 767.98px) {
      max-width: 180px;
    }
    @media (max-width: 479.98px) {
      max-width: 100%;
    }
  }
}
