/** @format */

$mainDarkColor: #1b1c57;
$mainGreyColor: #626687;
$mainYellowColor: #f59e0b;
$mainGreenColor: #10b981;
$mainWhiteColor: #ffffff;
$mainDarkBlueColor: #0e1735;
$mainDarkGreyColor: #3c4563;
$mainDarkGreenColor: #047857;
$mainLightBlueColor: #f0f3fd;
$mainLightGreyColor: #888b97;
$mainLightGreenColor: #d1fae5;
