/** @format */
@import './libs/normalize';
@import './variables';

body {
}
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  font-family: 'Lexend';
  font-size: 14px;
  color: #626687;
}
//========================================================================================================================================================
.content {
  position: relative;
  background: url('../../public/img/header/image.jpg') right no-repeat;
  &::after {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    left: 74px;
    top: -162px;
    z-index: -1;
    background: #82f7ff;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
  }
  &::before {
    content: '';
    position: absolute;
    width: 438px;
    height: 494px;
    left: -173px;
    top: -77px;
    z-index: -1;
    background: #82ffd2;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
  }

  // .content__body

  &__body {
  }

  // .content__container

  &__container {
  }
}

.place {
  // .place__body

  &__body {
  }

  // .place__title

  &__title {
  }

  // .place__text

  &__text {
  }

  // .place__input

  &__input {
  }

  // .place__partnership

  &__partnership {
  }
}
.partnership {
  // .partnership__title

  &__title {
  }

  // .partnership__images

  &__images {
  }

  // .partnership__image

  &__image {
  }
}
.info {
  // .info__body

  &__body {
  }

  // .info__cards

  &__cards {
  }

  // .info__card

  &__card {
  }

  // .info__images

  &__images {
  }

  // .info__image

  &__image {
  }

  // .info__items

  &__items {
  }

  // .info__title

  &__title {
  }

  // .info__text

  &__text {
  }
}

//========================================================================================================================================================
